body {
  background-image: url(../img/background.jpg);
  background-size: 100%;
  background-position-y: 10%;
  }
  
main h1 {
  color: #000000;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  text-align: center;  
  padding-top: 5%;
  padding-bottom: 5%;
}

.main-text {
  color: #000000;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  text-align: center;  
  
  padding-bottom: 20%;
}

.navbar-brand.ml-auto {
  margin-left: auto !important;
}

.navbar-expand-lg .navbar-collapse{
  padding-left: 700px !important;
}

.centered-text {
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 10%;
}

.card {
  width: 18rem;
  margin-right: 10px;
  margin-left: 10px;  
}

.card-body {
  color: white;
}  

.titulo-entregables {
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  color: white;
}

.footer {
  left: 0;
  width: 100%;
  background-color: #2e0456d3;
  padding: 20px;
  text-align: center;
  text-decoration-color: aliceblue;
  margin-top: auto;  
}  

.footer h3{
  color: white !important;
  margin-left: 25px !important;
}

.footer p{
  color: white;  
}

.col-md-4 ul {
  list-style: none;
}

.forms-list {
  padding-left: 250;
}

.forms-info {
  text-align: left;
  margin-left: -220px;
}

.form-group label {
  color: black;
  border: 1px solid white;
  padding: 5px;
  }

.form-group input,
.form-group select {
  color: black;
  border: 1px solid white;
  padding: 5px;
}

.btn-primary {
  color: black; 
  background-color: #007bff;
  border: 1px solid white;
  padding: 5px 10px;
}

.btn-primary:hover {
  background-color: #0069d9;
}

.formulario-table {
  width: 100%;
  border-collapse: collapse;
}

.formulario-table th,
.formulario-table td {
  padding: 10px;
  border: 1px solid white;
  color: black;
}

.btn-primary {
  color: black;
  background-color: #007bff;
  border: 1px solid white;
  padding: 5px 10px; 
}

.btn-primary:hover {
  background-color: #0069d9;
}

.formLogin{
  font-weight: bold;
  background: linear-gradient(45deg, rgba(1,6,175,1) 0%, rgba(255,91,0,1) 100%);
  padding: 40px 20px 20px 20px;
  border-radius: 5px;
  width: 350px;
  height: 400px;

}
.formLogin div{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputLogin{
  border-radius: 5px;
  border: 1px solid rebeccapurple;
  width: 90%;
}

.containerForm{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: absolute !important;
  height: 100% !important;
  width: 100% !important;
  /* background-image: url("../assets/img/FondoLogin.jpg"); */
}
