{% extends "AppCoder/inicio.html" %}
{% load static %}

{% block contenidoQueCambia %}
    <div class="espacio-entregables"></div>    
    <h2 class="titulo-entregables">Formulario - Entregables</h2>    
    <div class="card-container">
        {% block setEntregables %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ingresar una entrega</h5>
                <p class="card-text">Aquí podremos ingresar una entrega a la base de datos.</p>
                <a href="{% url 'setEntregable' %} " class="btn btn-primary">Ingresar entrega</a>
            </div>
        </div>
        {% endblock %}
    </div>
{% endblock %}