<div>
    {% extends "AppCoder/inicio.html" %}
    {% load static %}
        
        {% block contenidoQueCambia %}
            <div class="espacio-entregables"></div>    
            <h2 class="titulo-entregables">Formulario - Estudiantes</h2>
            <div class="card-container">
                {% block setEstudiante %}
                <div class="card-transparent">
                    <div class="card-body">
                        <h5 class="card-title">Ingresar un estudiante</h5>
                        <p class="card-text">Aquí podremos ingresar un estudiante a la base de datos.</p>
                        <a href="{% url 'setEstudiante' %} " class="btn btn-primary">Ingresar estudiante</a>
                    </div>
                </div>
        {% endblock %}
            
        {% block getEstudiante %}
                <div class="card-transparent">
                    <div class="card-body">
                        <h5 class="card-title">Buscar un estudiante</h5>
                        <p class="card-text">Aquí podremos buscar un estudiante de la base de datos.</p>
                        <a href="{% url 'getEstudiante' %} " class="btn btn-primary">Buscar estudiante</a>
                    </div>
                </div>
                {% endblock %}
            </div>
    {% endblock %}
</div>
