<div>
    {% extends "AppCoder/estudiantes.html" %}
    {% load static %}
    
    {% block getEstudiante %}
        
        <form action="/AppCoder/buscarEstudiante/" method="GET">
            <input placeholder="Nombre" type="text" name="nombre" id="nombre">
            <input type="submit" value="Buscar">
        </form>

        {% if estudiantes %}
            <ul class="estudiantes-list">
                {% for estudiante in estudiantes %}
                    <li class="estudiante-info"><strong>Nombre:</strong> {{ estudiante.nombre }}</li>
                    <li class="estudiante-info"><strong>Apellido:</strong> {{ estudiante.apellido }}</li>
                    <li class="estudiante-info"><strong>Email:</strong> {{ estudiante.email }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock %}    
</div>
