{% extends "AppCoder/inicio.html" %}
    {% load static %}
        
        {% block contenidoQueCambia %}
            <div class="espacio-entregables"></div>    
            <h2 class="titulo-entregables">Formulario - Profesores</h2>
            <div class="card-container">
                {% block setProfesor %}
                <div class="card-transparent">
                    <div class="card-body">
                        <h5 class="card-title">Ingresar un profesor</h5>
                        <p class="card-text">Aquí podremos ingresar un profesor a la base de datos.</p>
                        <a href="{% url 'setProfesor' %} " class="btn btn-primary">Ingresar profesor</a>
                    </div>
                </div>
                {% endblock %}
{% endblock %}